@import "../../fonts";

.product-slider{
  &:hover{
    cursor: grab;
  }

  .prev-arrow{
    position: absolute;
    margin: 8em -10em 0 0;
    z-index: 100;

    &:hover{
      cursor: pointer;
    }
  }
  .next-arrow{
    position: absolute;
    right:0;
    margin-top: -14em;
    z-index: 100;

    &:hover{
      cursor: pointer;
    }
  }

  .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child{
      margin-left: 1em;
    }
    &:last-child{
      margin-right: 1em;
    }

    p{
      color: $font-color;
    }
  }

}