@import "../../fonts";
@import "../../index";

.body-content__promo-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.promo-title{
  color: $font-color;
  text-transform: uppercase;
  font-family: PFDinTextCondPro-Regular;
  font-size: 2em;
}

.promo-section__slider-container{
  width: 80%;
  height: 100%;
}
