@import "../../index";
@import "../../fonts";

.body-content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 1;
  margin-top: 82px;
  overflow: hidden;

  img {
    height: auto;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }

  //Top content of the body
  .body-content__top-content {
    position: relative;
    display: flex;
    width: 120%;
    left: 50%;
    padding-top: 0.5em;
    transform: translateX(-50%);
    background-color: $back-color1;
    border-radius: 0 0 50% 50% / 0 0 75% 75%;
    z-index: 3;

    .top-content__container {
      overflow: hidden;
      bottom: 20px;
      pointer-events: none;
      max-width: 100%;

      .top-content__image-stack-left {
        display: flex;
        width: 60%;

        .image-stack-left__kitchen {
          height: 23em;
          width: 100%;
          margin: 15em 0 0 8em;
          object-fit: cover;
        }

        .image-stack-left__balls {
          height: auto;
          min-width: 25em;
          width: 30%;
          position: absolute;
          z-index: 15;
          margin: 5% 0 0 30%;
          object-fit: cover;
        }

        .image-stack-left__intro {
          height: auto;
          min-height: 10em;
          min-width: 15em;
          width: 33%;
          position: absolute;
          z-index: 12;
          margin: 1% 0 0 18%;
        }
      }

      .top-content__image-stack-right {
        display: inline-block;
        margin: 11em 0 0 -12em;
        object-fit: cover;

        .oltermanni-tag {
          position: absolute;
          width: 100%;
          max-width: 10em;
          margin: -4.5em 0 0 23em;
          z-index: 10;
          object-fit: cover;
        }

        .oltermanni-banner {
          max-height: 28em;
          max-width: 35em;
          min-width: 30em;
          width: 100%;
          position: absolute;
          z-index: 5;
          object-fit: cover;
        }
      }
    }

    //download button
    .Top-content__download-check {
      position: absolute;
      padding: 15px 40px;
      color: #FFFFFF;
      background-color: $color-red;
      bottom: -1em;
      border: 7px solid transparent;
      border-color: #FFFFFF;
      border-radius: 10em;
      left: 50%;
      text-transform: uppercase;
      text-decoration: none;
      transform: translateX(-50%);
      z-index: 20;
      transition: margin 0.2s, background-color 0.2s, box-shadow 0.1s;

      &:hover {
        cursor: pointer;
        background-color: darken($color-red, 5%);
        box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
        margin: 0 0 0.5px 0.5px;
      }
    }
  }

  //rules section
  .body-content__info-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15em;
    background: $back-gradient-color;
    margin-top: -210px;
    z-index: 1;

    .info-content__top-container {
      h1 {
        color: $color-red;
        font-size: 3em;
        line-height: 46px;
        font-family: PFDinTextCondPro-Medium;
        text-shadow: -2px 2px 0 #FFFFFF;
        font-style: normal;
        text-transform: uppercase;
      }
    }

    .info-content__balloon {
      position: absolute;
      align-self: flex-start;
      margin: -1em 0 0 3em;
    }

    .info-content__decor1 {
      position: absolute;
      align-self: flex-end;
      margin: 0 4em 0 0;
    }

    .info-content__decor2 {
      position: absolute;
      align-self: flex-start;
      margin: 18.5em 0 0 15em;
    }

    //general rules container
    .info-content__bottom-container {
      position: relative;
      display: flex;
      justify-content: space-between;
      padding-bottom: 3em;
      width: 80%;

      //single rule container
      .info-content__rule-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 10em;
        text-align: center;

        span {
          margin-top: 1em;
          color: $font-color;
          font-family: PFDinTextCondPro-Regular;
          font-size: 18px;
        }

        /*&:after{
          position: absolute;
          content: "";
          width: 20px;
          height: 50px;
          background-image: url("/public/images/right_arrow.svg");
          background-size: cover;
          margin-left: 10px;
        }*/
      }

      .info-content__arrow {
        padding-top: 2.5em;
        min-width: 2.5em;
        height: 3em;
      }
    }

  }

  //promotion section
  .body-content__promo-section {
    height: 27em;
  }

  .body-content__body-end {
    height: 10em;
    background: $back-color1;
    border-radius: 0 0 15px 15px;
  }
}

@media (max-width: 1200px) {

  //Кухня
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__kitchen {
    margin: 15em 0 0 7em;
  }
  //Шары
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__balls {
    // margin: 3.5em 0 0 25em;
    margin: 6% 0 0 30%;
  }

  //Правый блок картинок
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right {
    margin: 10.5em 0 0 -11em;
  }


}

//........//
@media (max-width: 1050px) {
  //Кухня
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__kitchen {
    margin: 15em 0 0 5em;
  }
  //Стрелки правил
  .body-content .body-content__info-content .info-content__arrow {
    margin-left: -0.5em;
  }

  //Шары
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__balls {
    //margin: 3.5em 0 0 18em;
    margin: 7% 0 0 29%;
  }
  //Сыр вашему дому
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__intro {
    //margin: 0.5em 0 0 12em;
    margin: 2% 0 0 17%;
  }


}

@media (max-width: 900px) {

  //Кухня
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__kitchen {
    margin: 15em 0 0 -3em;
  }
  //Шары
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__balls {
    //margin: 4em 0 0 15em;
    margin: 8% 0 0 26%;
  }
  //Сыр вашему дому
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__intro {
    //margin: 2em 0 0 11em;
    margin: 4% 0 0 17%;
  }

  //Правый блок картинок
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right {
    margin: 16% 0 0 -15%;
  }
  //Баннер
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-banner {
    width: 50%;
    min-height: 28em;
  }
  //Бирка
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-tag {
    margin: -6% 0 0 30%;
    width: 10em;
    height: 10em;
  }
  //Нижняя граница для блока с картинками
  .body-content .body-content__top-content {
    background: $back-gradient-color;
    border-radius: 0 0 50% 50%/0 0 40% 40%;
  }


  .body-content {
    .body-content__top-content {
      padding-top: 0;
    }

    //rules-container
    .body-content__info-content {

      //Украшения
      .info-content__balloon {
        width: 15%;
        margin: 10.5em 0 0 1.5em;
      }

      .info-content__decor1 {
        position: absolute;
        align-self: flex-end;
        margin: 11em 3em 0 0;
        width: 7%;
        height: auto;
      }

      .info-content__decor2 {
        position: absolute;
        align-self: flex-start;
        bottom: -1.5em;
        margin-left: 3em;
        width: 12%;
      }

      //Нам 40 лет - вам подарки
      .info-content__top-container {
        display: flex;
        margin-top: 2em;

        h1 {
          text-align: center;
          font-size: 2.5em;
        }
      }

      //general rules container
      .info-content__bottom-container {
        flex-direction: column;
        align-items: center;

        span {
          margin-top: 1em;
          color: $font-color;
          font-family: PFDinTextCondPro-Regular;
          font-size: 18px;
        }
      }

      //rules arrows
      .info-content__arrow {
        padding-top: 2.5em;
        transform: rotate(90deg);
        margin-left: 2em;
        height: auto;
        width: 1em;
      }
    }
  }

}

@media (max-width: 800px) {
  .body-content {
    margin-top: 62px;

    .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__kitchen {
      margin: 14em 0 0 -10%;
    }
  }

  //Нижняя обводка у блока картинок
  .body-content .body-content__top-content {
    background: $back-gradient-color;
    border-radius: 0 0 50% 50%/0 0 20% 20%;
  }

  //Шары
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__balls {
    //margin: 4em 0 0 15em;
    margin: 8% 0 0 20%;
  }
  //Сыр вашему дому
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__intro {
    margin: 6% 0 0 13%;
  }
  //Правый блок картинок
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right {
    margin: 25% 0 0 -15%;
  }
  //Баннер
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-banner {
    min-height: 22em;
    min-width: 15em;
  }
  //Бирка
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-tag {
    margin: -2% 0 0 35%;
    width: 7em;
    height: 7em;
  }
}

@media (max-width: 700px) {
  //Правый блок картинок
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right {
    margin: 32% 0 0 -15%;
  }
}


//Мобильная адаптация
@media (max-width: 576px) {
  .body-content {
    margin-top: 62px;
    //Кухня
    .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__kitchen {
      margin: 10em 0 0 2em;
      height: 18em;
    }
    //Левый блок картинок
    .body-content__top-content .top-content__container .top-content__image-stack-left {
      margin: 0 0 0 -5%;
    }
    //Правый блок картинок
    .body-content__top-content .top-content__container .top-content__image-stack-right {
      margin: 20% 0 0 -15%;
    }
    //Шары
    .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__balls {
      margin: 10% 0 0 20%;
      min-width: 20em;
    }
    //Баннер
    .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-banner {
      min-height: 10em;
      min-width: 10em;
      width: 10em;
      height: 15em;
    }
    //Бирка
    .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-tag {
      margin: -2% 0 0 35%;
      width: 7em;
      height: 7em;
    }
    //Нижняя обводка у блока картинок
    .body-content__top-content {
      background: $back-gradient-color;
      border-radius: 0 0 50% 50%/0 0 20% 20%;
    }
  }
}

@media (max-width: 420px) {
  //Баннер
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-banner {
    min-height: 15em;
    min-width: 15em;
  }
  //Бирка
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-tag {
    margin: -4% 0 0 35%;
    width: 5em;
    height: 5em;
  }

  //Правый блок картинок
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right {
    margin: 37% 0 0 -15%;
  }


  //Кухня
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__kitchen {
    margin: 10em 0 0 2em;
    height: 15em;
  }
}

@media (max-width: 375px) {
  //Баннер
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-banner {
    min-height: 15em;
    min-width: 10em;
  }
  //Бирка
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right .oltermanni-tag {
    margin: -4% 0 0 35%;
    width: 4.5em;
    height: 4.5em;
  }

  //Правый блок картинок
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-right {
    margin: 37% 0 0 -15%;
  }

  //Сыр вашему дому
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__intro {
    margin: 6% 0 0 13%;
    min-width: 10em;
    min-height: 7em;
  }

  //Шары
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__balls {
    margin: 10% 0 0 12%;
    min-width: 18em;
  }

  //Кухня
  .body-content .body-content__top-content .top-content__container .top-content__image-stack-left .image-stack-left__kitchen {
    margin: 10em 0 0 2em;
    height: 15em;
    width: 15em;
  }
}
