@import "../../index";
@import "../../fonts";

header.is-fixed {
  position: fixed;
  z-index: 1000;
}

header {
  display: flex;
  padding: 0 10%;
  align-items: center;
  width: 100%;
  height: 82px;
  background-color: #FFF;
  color: $font-color;
  font-family: "PFDinTextCondPro-Regular";
  font-size: 16px;
  font-weight: 600;
  line-height: 21px;
  text-transform: uppercase;
}

.mobile-menu-button{
  display: none;
  margin-bottom: 3px;
}

a{
  text-decoration: none;
  color: $font-color;
  font-family: "PFDinTextCondPro-Regular";
}

.header__logo {
  img {
    height: auto;
  }
}

.Main-nav__menu {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0 100px;
}

.Main-nav__link--active {
  transition: color 0.2s;
  &:not(:last-child) {
    margin-right: 5em;
  }
  &:hover {
    color: $color-red;
    cursor: pointer;
  }
}

.header__auth-container {
  display: flex;
  align-items: center;

  .header__auth {
    padding: 10px 40px;
    border-radius: 20px;
    margin-right: 20px;
    background-color: $back-color1;
    transition: margin 0.1s, background-color 0.2s, box-shadow 0.2s, transform 0.1s;

    &:hover{
      cursor: pointer;
      background-color: darken($back-color1, 5%);
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      margin: 0.5px 20px 0 0px ;
    }
  }

  .header__registration {
    transition: color 0.2s;
    &:hover {
      color: $color-red;
      cursor: pointer;
    }
  }

  a {
    text-transform: uppercase;
  }

}

@media (max-width: 1200px) {
  header{
  }
  .Main-nav__menu {
    margin: 0 4em;
  }
}

@media (max-width: 1030px) {
  header{
    padding: 0 2em;
    justify-content: center;



    .Main-nav__menu {
      margin: 0 3em;
      margin-left: -0.5em;
    }

    .Main-nav__link--active {

      &:not(:last-child) {
        margin-right: 2em;
      }
    }

    .header__auth-container {
      .header__auth {
        margin-right: 1em;
      }
    }

  }
}


@media (max-width: 800px) {
  header{
    height: 62px;
    padding: 0 1em;
    justify-content: start;

    .mobile-menu-button{
      display: flex;
    }

    .header__logo{
      position: absolute;
      margin-left: 0;
      left: 3.5em;
        img{
            width: 90%;
        }
    }
    .Main-nav__menu{
      display: none;
      justify-content: unset;
    }
    .header__registration{
      display: none;
    }
    .header__auth-container{
      .header__auth{
        position: absolute;
        right: 2em;
        padding: 5px 20px;
      }
    }

  }

}


