@import "../../fonts";
@import "../../index";

footer {
  height: 130px;
  color: $font-color;
  font-family: PFDinTextCondPro-Regular;
  font-weight: 600;

  //Основной блок с контентом
  .footer__content {
    display: flex;
    margin: 0 5em 0 5em;
    justify-content: center;

    //Блок футера контакты
    .footer__contacts {
      display: flex;
      flex-direction: column;

      h4 {
        text-transform: uppercase;
        font-size: small;
      }

      //Номер в футере в блоке контакты
      .footer__number {
        color: $color-red;
        font-family: PFDinTextCondPro-Bold;
        font-weight: bold;
        font-size: 24px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  //Блок навигация футера
  .footer__nav {
    margin: 0 14% 0 14%;
    //ul
    .footer-nav__menu {
      display: flex;
      list-style: none;
      transition: color 0.5s;

      //ссылка на правила
      .footer-nav__rules-link {
        transition: color 0.5s;

        &:hover {
          cursor: pointer;
          color: $color-red;
        }
      }

      //пункты навигации футера
      li {
        &:hover {
          cursor: pointer;
          color: $color-red;
        }

        &:not(&:last-child) {
          margin-right: 3em;
        }
      }
    }
  }

}

.join-us {
  margin-top: 1em;

  .join-us__c-media-container {
    display: flex;
    list-style: none;
    padding-inline-start: 0;

    .c-media {
      width: 8px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $back-color1;
      padding: 7px 10px;
      border-radius: 4px;

      img{
        pointer-events: none;
      }

      &:not(&:last-child) {
        margin-right: 7px;
      }
    }
  }
}

@media (max-width: 767px) {
  footer {
    flex: 1;

    .footer__content {
      flex-direction: column;

      .footer__contacts {
        align-items: center;
        margin-top: 4em;

        h4 {
          margin-bottom: -1px;
        }

        .footer__author {
          position: absolute;
          margin: 15em 0 0 0;
        }
      }

      .footer__nav {
        position: absolute;
        align-self: center;
        margin: 0 0 12em 0;

        .footer__nav-menu {

          li {
            &:not(&:last-child) {
              margin-right: 10em;
            }
          }
        }
      }


      .join-us {
        margin-top: 1.5em;
        padding-bottom: 2em;
        text-align: center;

        .join-us__c-media-container {
          justify-content: center;
        }
      }

    }
  }

}
